$color1: #3957F3;
$color2: #F8F8F8;
$color3: #FFFFFF;
$color4: #3B3B3B;
$color5: #F36363;
$color6: #d3d3d3;

$shadow1: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
$shadow2: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;